<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Project Form</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
    <link th:rel="stylesheet" th:href="@{/webjars/font-awesome/6.2.0/css/all.css} "/>
</head>
<body>
<div class="the-container">
    <div th:replace="~{layout/navbar :: navbar}"></div>

    <div class="return">
        <a th:href="${project.id == null ? '/projects' : '/projects/' + project.id}">
            <div class="input-group-append">
                <span class="input-group-text arrow"><i class="fa fa-arrow-left"></i></span>
            </div>
            Return
        </a>
    </div>

    <div class="container content proj-form">
        <div class="col-md-8 detail-table task">
            <div th:if="${error}">
                <div class="alert alert-danger" role="alert">
                    <p th:text="${error}"></p>
                </div>
                <a class="btn btn-primary" th:href="@{/projects}">Return</a>
            </div>

            <form th:if="${error} == null" th:action="@{/projects}" method="POST" th:object="${project}">

                <div class="card card-detail" th:if="${error} == null">
                    <div class="card-body">
                        <h2 class="card-title text-center" th:if="${project.id}" th:text="|Modify ${project.name}"></h2>
                        <h2 class="card-title text-center" th:if="${project.id} == null">New project</h2>
                    </div>
                    <ul class="list-group list-group-flush">

                        <input type="hidden" id="id" name="id" th:field="*{id}"/>
                        <li class="list-group-item">
                            <div class="mb-3">
                                <label for="name" class="form-label">Name</label>
                                <input type="text" class="form-control" id="name" th:field="*{name}">
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="mb-3">
                                <label for="description" class="form-label">Description</label>
                                <textarea class="form-control" id="description" rows="3" th:field="*{description}"></textarea>
                            </div>
                        </li>

                        <li class="list-group-item">
                            <div class="mb-3">
                                <label for="dateStart" class="form-label">Start Date</label>
                                <input type="date" class="form-control" id="dateStart" th:field="*{dateStart}">
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="mb-3">
                                <label for="dateEnd" class="form-label">Start End</label>
                                <input type="date" class="form-control" id="dateEnd" th:field="*{dateEnd}">
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="mb-3">
                                <label for="totalCost" class="form-label">Total Cost</label>
                                <input type="text" class="form-control" id="totalCost" th:field="*{totalCost}">
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="mb-3">
                                <label for="company" class="form-label">Company</label>
                                <select id="company" aria-label="Companies" class="form-select" th:field="*{company}">
                                    <option th:if="${project.id} == null" selected value="0">Select company</option>
                                    <option th:each="company : ${companies}" th:value="${company.id}"
                                            th:text="${company.name}"></option>
                                </select>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="mb-3">
                                <label for="customer" class="form-label">Customer</label>
                                <select id="customer" aria-label="Customers" class="form-select" th:field="*{customer}">
                                    <option th:if="${project.id} == null" selected value="0">Select customer</option>
                                    <option th:each="customer : ${customers}" th:value="${customer.id}"
                                            th:text="${customer.name}"></option>
                                </select>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="row edit-del proj-form my-4">
                    <a class="btn delete" th:href="@{/projects}">Cancel</a>
                    <button type="submit" class="btn edit">Save</button>
                </div>
            </form>
        </div>
    </div>
    <div th:replace="~{layout/footer :: footer}"></div>
</div>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/js/main.js}"></script>
</body>
</html>