<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Projects by company</title>
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
  <link rel="stylesheet" th:href="@{/css/styles.css}"/>
</head>
<body>

<table class="table">
  <thead>
  <tr>
    <th>Project name</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="project : ${projects}">
    <td th:text="${project.name}"></td>
  </tr>
  </tbody>
</table>

<div class="alert alert-info" role="alert" th:if="${#lists.isEmpty(projects)}">
  There are not elements to show.
</div>
<div class="text-center" th:if="${#lists.size(projects) > 0}">
  There are <span th:text="${#lists.size(projects)}"></span> results.
</div>

</body>
</html>