<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <title>Companies</title>
</head>
<body>

<div class="container text-left">
    <div class="row">
        <h1>Companies</h1>

        <div class="col mt-3">
            <button type="button" class="btn btn-success">Add a new company</button>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Slogan</th>
                    <th scope="col">url</th>
                    <th scope="col">LinkedIn</th>
                    <th scope="col">Twitter</th>
                    <th scope="col">Cif</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="company : ${companies}">
                    <td th:text="${company.id}"></td>
                    <td th:text="${company.name}"></td>
                    <td th:text="${company.slogan}"></td>
                    <td th:text="${company.url}"></td>
                    <td th:text="${company.linkedIn}"></td>
                    <td th:text="${company.twitter}"></td>
                    <td th:text="${company.cif}"></td>
                    <td>
                        <a class="btn btn-primary" th:href="@{/companies/{id}(id=${company.id})}">Watch</a>
                        <button type="button" class="btn btn-success">Edit</button>
                        <button type="button" class="btn btn-danger">Delete</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>

<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

</body>
</html>