<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Companies</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
<div class="container text-center">
    <div class="row">
        <h1>Companies</h1>
        <div class="col mt-3">
            <a class="btn btn-info" th:href="@{/companies/create}">Create new company</a>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Cif</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="company : ${companies}">
                    <td th:text="${company.id}"></td>
                    <td th:text="${company.name}"></td>
                    <td th:text="${company.cif}"></td>
                    <td>
                        <a class="btn btn-primary" th:href="@{/companies/{id}(id=${company.id})}">Watch</a>
                        <a class="btn btn-success" th:href="@{/companies/{id}/edit(id=${company.id})}">Edit</a>
                        <a class="btn btn-danger" th:href="@{/companies/{id}/delete(id=${company.id})}">Delete</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

</body>
</html>