<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Company Form</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
    <link th:rel="stylesheet" th:href="@{/webjars/font-awesome/6.2.0/css/all.css} "/>
</head>
<body>
<div class="the-container">
    <div th:replace="~{layout/navbar :: navbar}"></div>

    <div class="return">
        <a th:href="${company.id == null ? '/companies' : '/companies/' + company.id}">
            <div class="input-group-append">
                <span class="input-group-text arrow"><i class="fa fa-arrow-left"></i></span>
            </div>
            Return
        </a>
    </div>

    <div class="container content proj-form">
        <div class="col-md-8 detail-table task">
            <div th:if="${error}">
                <div class="alert alert-danger" role="alert">
                    <p th:text="${error}"></p>
                </div>
                <a class="btn btn-primary" th:href="@{/companies}">Return</a>
            </div>


            <form th:if="${error} == null" th:action="@{/companies}" method="POST" th:object="${company}"
                  enctype="multipart/form-data" class="task-form">
                <div class="card card-detail" th:if="${error} == null">
                    <div class="card-body">
                        <h2 class="card-title text-center" th:if="${company.id}" th:text="|Modify ${company.name}"></h2>
                        <h2 class="card-title text-center" th:if="${company.id} == null">New company</h2>
                    </div>
                    <ul class="list-group list-group-flush">

                        <input type="hidden" id="id" name="id" th:field="*{id}"/>
                        <li class="list-group-item">
                            <div class="mb-3">
                                <label for="name" class="form-label">Name</label>
                                <input type="text" class="form-control" id="name" th:field="*{name}">
                            </div>
                        </li>

                        <li class="list-group-item">
                            <div class="mb-3">
                                <label for="slogan" class="form-label">Slogan</label>
                                <input type="text" class="form-control" id="slogan" th:field="*{slogan}">
                            </div>
                        </li>

                        <li class="list-group-item">
                            <div class="mb-3">
                                <label for="url" class="form-label">Web</label>
                                <input type="text" class="form-control" id="url" th:field="*{url}">
                            </div>
                        </li>

                        <li class="list-group-item">
                            <div class="mb-3">
                                <label for="linkedIn" class="form-label">LinkedIn</label>
                                <input type="text" class="form-control" id="linkedIn" th:field="*{linkedIn}">
                            </div>
                        </li>

                        <li class="list-group-item">
                            <div class="mb-3">
                                <label for="twitter" class="form-label">Twitter</label>
                                <input type="text" class="form-control" id="twitter" th:field="*{twitter}">
                            </div>
                        </li>

                        <li class="list-group-item">
                            <div class="mb-3">
                                <label for="cif" class="form-label">CIF</label>
                                <input type="text" class="form-control" id="cif" th:field="*{cif}">
                            </div>
                        </li>

                        <li class="list-group-item">
                            <p class="mt-2">Address</p>
                            <div class="mb-3">
                                <label for="street" class="form-label">Street</label>
                                <input type="text" class="form-control" id="street" th:field="*{address.street}">
                            </div>
                            <div class="mb-3">
                                <label for="postalCode" class="form-label">Postal Code</label>
                                <input type="text" class="form-control" id="postalCode"
                                       th:field="*{address.postalCode}">
                            </div>
                            <div class="mb-3">
                                <label for="city" class="form-label">City</label>
                                <input type="text" class="form-control" id="city" th:field="*{address.city}">
                            </div>
                            <div class="mb-3">
                                <label for="country" class="form-label">Country</label>
                                <input type="text" class="form-control" id="country" th:field="*{address.country}">
                            </div>
                        </li>

                        <li class="list-group-item" th:if="${company.imageUrl}">
                            <img th:if="${company.imageUrl}" th:src="|/img/${company.imageUrl}|" class="card-img-top"
                                 alt="Company Image">
                            <div class="mb-3" th:if="${company.imageUrl}">
                                <label for="imageUrl" class="form-label">Image Url</label>
                                <input class="form-control" type="text" id="imageUrl" th:field="*{imageUrl}" readonly>
                            </div>
                        </li>

                        <li class="list-group-item">
                            <div class="mb-3">
                                <label for="file" class="form-label">Image</label>
                                <input class="form-control" type="file" id="file" name="file">
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="row edit-del proj-form my-4">
                    <a class="btn delete" th:href="@{/companies}">Cancel</a>
                    <button type="submit" class="btn edit">Save</button>
                </div>
            </form>
        </div>
    </div>
    <div th:replace="~{layout/footer :: footer}"></div>
</div>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/js/main.js}"></script>
</body>
</html>