<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Company Detail</title>
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
  <link rel="stylesheet" th:href="@{/css/styles.css}"/>
</head>
<body>
<div class="container text-center">
  <div class="row">
    <h1 class="h1-title">Company detail</h1>

    <div class="col"></div>

    <div class="col">

      <div th:if="${error}">
        <div class="alert alert-danger" role="alert" >
          <p th:text="${error}"></p>
        </div>
        <a class="btn btn-primary" th:href="@{/companies}">Return</a>
      </div>


      <div class="card" th:if="${error} == null">
        <img src="https://dummyimage.com/300" class="card-img-top" alt="Company Image">

        <div class="card-body">
          <h5 class="card-title" th:text="${company.name}"></h5>
        </div>

        <ul class="list-group list-group-flush">
          <li class="list-group-item" th:text="|Id: ${company.id}|"></li>
          <li class="list-group-item" th:text="|Slogan: ${company.slogan}|"></li>
          <li class="list-group-item" th:text="|url: ${company.url}|"></li>
          <li class="list-group-item" th:text="|LinkedIn: ${company.linkedIn}|"></li>
          <li class="list-group-item" th:text="|Twitter: ${company.twitter}|"></li>
          <li class="list-group-item" th:text="|CIF: ${company.cif}|"></li>
          <li class="list-group-item"></li>
          <li class="list-group-item" th:text="|ADDRESS: ${company.address.street}, ${company.address.postalCode}, ${company.address.city}, ${company.address.country}|"></li>

        </ul>

<!--        lista de empleados, cada empleado con un enlace a la pantalla de detalle de dicho empleado-->

<!--        lista de proyectos, cada proyecto con un enlace a la pantalla de detalle de dicho proyecto-->


        <div class="card-body">
          <a class="btn btn-primary" th:href="@{/companies}">Return</a>
          <a class="btn btn-success" th:href="@{/companies/{id}/edit(id=${company.id})}">Edit</a>
          <a class="btn btn-danger" th:href="@{/companies/{id}/delete(id=${company.id})}">Delete</a>
        </div>
      </div>
    </div>

    <div class="col"></div>
  </div>
</div>

<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/js/main.js}"></script>
</body>
</html>