<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
</head>
<body>

<footer class="py-3 my-4 bg-info">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted" th:href="@{/main}">Home</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted" th:href="@{/companies}">Companies</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted" th:href="@{/employees}">Employees</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted" th:href="@{/tasks}">Tasks</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted" th:href="@{/customers}">Customers</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted" th:href="@{/projects}">Projects</a></li>
    </ul>
    <p class="text-center text-muted">© 2023 Grath, Inc</p>
</footer>


<div th:replace="~{footer :: footer1}"></div>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/js/main.js}"></script>

</body>
</html>