<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Task Detail</title>
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>

<div th:replace="~{layout/navbar :: navbar}"></div>

<div class="container text-center">
  <div class="row">
    <h1 class="h1-title">Task detail</h1>

    <div class="col"></div>

    <div class="col">

      <div th:if="${error}">
        <div class="alert alert-danger" role="alert" >
          <p th:text="${error}"></p>
        </div>
        <a class="btn btn-primary" th:href="@{/tasks}">Return</a>
      </div>


      <div class="card" th:if="${error} == null">
        <img src="https://dummyimage.com/300" class="card-img-top" alt="Task Image">

        <div class="card-body">
          <h5 class="card-title" th:text="${task.name}"></h5>
        </div>

        <ul class="list-group list-group-flush">
          <li class="list-group-item" th:text="|Id: ${task.id}|"></li>
          <li class="list-group-item" th:text="|Name: ${task.name}|"></li>
          <li class="list-group-item" th:text="|Description: ${task.description}|"></li>
          <li class="list-group-item" th:text="|Due Date: ${task.dueDate}|"></li>

        </ul>

        <div class="card-body">
          <a class="btn btn-primary" th:href="@{/tasks}">Return</a>
          <a class="btn btn-success" th:href="@{/tasks/{id}/edit(id=${task.id})}">Edit</a>
          <a class="btn btn-danger" th:href="@{/tasks/{id}/delete(id=${task.id})}">Delete</a>
        </div>
      </div>
    </div>

    <div class="col"></div>
  </div>
</div>

<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<div th:replace="~{layout/footer :: footer}"></div>
</body>
</html>