<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tasks</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/6.2.0/css/all.css} "/>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs5/dt-1.13.3/datatables.min.css"/>
</head>
<body>
<div class="the-container">

    <div th:replace="~{layout/navbar :: navbar}"></div>

    <div class="container content text-center content-list">
        <div class="row">
            <h1>Tasks</h1>
            <div class="col mt-3">
                <a class="btn btn-info" th:href="@{/tasks/create}">Add new task</a>
                <table class="table table-bordered table-striped" id="task-table">
                    <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Status</th>
                        <th scope="col">Priority</th>
                        <th scope="col">Due date</th>
                        <th scope="col">Employees</th>
                        <th scope="col">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="task : ${tasks}">
                        <td th:text="${task.name}"></td>
                        <td th:text="${task.status.displayValue}"></td>
                        <td th:text="${task.priority.displayValue}"></td>
                        <td th:text="${task.dueDate}"></td>
                        <td><a class="cell-links" th:href="@{/task/{id}/employees(id=${task.id})}">Employees</a></td>
                        <td>
                            <a th:href="@{/tasks/{id}(id=${task.id})}">
                                <div class="input-group-append">
                                    <span class="input-group-text eye"><i class="fa fa-eye"></i></span>
                                </div>
                            </a>

                            <a th:href="@{/tasks/{id}/edit(id=${task.id})}">
                                <div class="input-group-append">
                                    <span class="input-group-text pencil"><i class="fa fa-pencil-alt"></i></span>
                                </div>
                            </a>
                            <a th:href="@{/tasks/{id}/delete(id=${task.id})}">
                                <div class="input-group-append">
                                    <span class="input-group-text trash"><i class="fa fa-trash-can"></i></span>
                                </div>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <div class="alert alert-info" role="alert" th:if="${#lists.isEmpty(tasks)}">
                    There are not elements to show.
                </div>
                <div class="text-center" th:if="${#lists.size(tasks) > 0}">
                    <!-- TODO Error al mostrar employees desde task-->
                    There are <span th:text="${#lists.size(tasks)}"></span> results.
                </div>

            </div>
        </div>
    </div>

    <div th:replace="~{layout/footer :: footer}"></div>
</div>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script src="https://cdn.datatables.net/v/bs5/dt-1.13.3/datatables.min.js"></script>
<script>
    $(document).ready(function() {
        $("#task-table").DataTable({
            'aoColumnDefs': [
            {'bSortable': false, 'aTargets': [-1, -2]},
            { 'className': 'text-center', 'aTargets': [-1, -2, -3, -4, -5, -6] }
            ]

        });
    })

</script>
</body>
</html>