<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <title>Employees</title>
</head>
<body>

<div th:replace="~{layout/navbar :: navbar}"></div>

<div class="container text-left">
    <div class="row">

        <h1>Employees</h1>

        <div class="col mt-3">
            <div>
                <a class="btn btn-info" th:href="@{/employees/create}">Add a new employee</a>
            </div>
            <!--TODO
            <div class="mt-2">
                <span>Filter by task: </span>
                <a class="btn btn-primary" th:href="@{/employees/task/task1}">Task1</a>
                <a class="btn btn-primary" th:href="@{/employees/task/task2}">Task22</a>
            </div>-->

            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">DNI</th>
                    <th scope="col">Address</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Email</th>
                    <th scope="col">Position</th>
                    <th scope="col">Birthday</th>
                    <th scope="col">Date of contracting</th>
                    <th scope="col">Date of dismissal</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="employee : ${employees}">
                    <td th:text="${employee.id}"></td>
                    <td th:text="${employee.name}"></td>
                    <td th:text="${employee.dni}"></td>
                    <td th:text="${employee.address.street} + ', ' + ${employee.address.postalCode} + ', ' + ${employee.address.city} + ', ' + ${employee.address.country}"></td>
                    <td th:text="${employee.phone}"></td>
                    <td th:text="${employee.email}"></td>
                    <td th:text="${employee.position}"></td>
                    <td th:text="${employee.birth}"></td>
                    <td th:text="${employee.contracting}"></td>
                    <td th:text="${employee.dismissal}"></td>
                    <td>
                        <a class="btn btn-primary" th:href="@{/employees/{id}(id=${employee.id})}">Watch</a>
                        <a class="btn btn-success" th:href="@{/employees/{id}/edit(id=${employee.id})}">Edit</a>
                        <a class="btn btn-danger" th:href="@{/employees/{id}/delete(id=${employee.id})}">Delete</a>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="alert alert-info" role="alert" th:if="${#lists.isEmpty(employees)}">
                There are not elements to show.
            </div>
            <div class="text-center" th:if="${#lists.size(employees) > 0}">
                There are <span th:text="${#lists.size(employees)}"></span> results.
            </div>
        </div>
    </div>
</div>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<!--<div th:replace="~{footer :: footer1}"></div>-->
</body>
</html>