<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employee Detail</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
    <link th:rel="stylesheet" th:href="@{/webjars/font-awesome/6.2.0/css/all.css} "/>
</head>
<body>
<div class="the-container">
    <div th:replace="~{layout/navbar :: navbar}"></div>
    <div class="return">
        <a th:href="@{/employees}">
            <div class="input-group-append">
                <span class="input-group-text arrow"><i class="fa fa-arrow-left"></i></span>
            </div>
            Return
        </a>
    </div>

    <div class="container content">
        <div class="col-md-4 image">
            <img th:src="${#strings.isEmpty(employee.imageUrl)} ? '/img/image-load-failed.png' : |/files/${employee.imageUrl}|" class="card-img-top" alt="Employee Image">

            <div class="row edit-del">
                <a class="btn edit" th:href="@{/employees/{id}/edit(id=${employee.id})}">Edit</a>
                <a class="btn delete" th:href="@{/employees/{id}/delete(id=${employee.id})}">Delete</a>
            </div>
        </div>

        <div class="col-md-8 detail-table">

            <div th:if="${error}">
                <div class="alert alert-danger" role="alert">
                    <p th:text="${error}"></p>
                </div>
                <a class="btn btn-primary" th:href="@{/employees}">Return</a>
            </div>


            <div class="card card-detail" th:if="${error} == null">
                <div class="card-body">
                    <h5 class="card-title" th:text="${employee.name}"></h5>
                </div>

                <ul class="list-group list-group-flush">
                    <li class="list-group-item" th:text="|DNI: ${employee.dni}|"></li>
                    <li class="list-group-item"
                        th:text="|Address: ${employee.address.street}, ${employee.address.postalCode}, ${employee.address.city}, ${employee.address.country}|"></li>
                    <li class="list-group-item" th:text="|Phone: ${employee.phone}|"></li>
                    <li class="list-group-item" th:text="|Email: ${employee.email}|"></li>
                    <li class="list-group-item" th:text="|Position: ${employee.position}|"></li>
                    <li class="list-group-item"
                        th:text="|Birthday: ${#temporals.format(employee.birth, 'dd/MM/yyyy')}|"></li>
                    <li class="list-group-item" th:text="|Company: ${employee.company.name}|"></li>
                    <li class="list-group-item" th:each="project: ${employee.projects}"
                        th:text="|${project.name}|"></li>
                    <li class="list-group-item"
                        th:text="|Hire date: ${#temporals.format(employee.contracting, 'dd/MM/yyyy')}|"></li>
                </ul>
            </div>
        </div>
    </div>
    <div th:replace="~{layout/footer :: footer}"></div>
</div>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/js/main.js}"></script>
</body>
</html>