<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Customer Detail</title>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
</head>
<body>

<div th:replace="~{layout/navbar :: navbar}"></div>

<div class="container text-center">
    <div class="row">

        <h1 class="h1-title">Customer detail</h1>
        <div class="col"></div>

        <div class="col">

            <div th:if="${error}">
                <div class="alert alert-danger" role="alert" >
                    <p th:text="${error}"></p>
                </div>
                <a class="btn btn-primary" th:href="@{/customers}">Return</a>
            </div>


            <div class="card" th:if="${error} == null">
                <img src="https://dummyimage.com/300" class="card-img-top" alt="Customer Image">

                <div class="card-body">
                    <h5 class="card-title" th:text="${customer.name}"></h5>
                </div>

                <ul class="list-group list-group-flush">
                    <li class="list-group-item" th:text="|ID: ${customer.id}|"></li>
                    <li class="list-group-item" th:text="|CIF: ${customer.cif}|"></li>
                    <li class="list-group-item"
                        th:text="|Address: ${customer.address.street}, ${customer.address.postalCode}, ${customer.address.city}, ${customer.address.country}|"></li>
                    <li class="list-group-item" th:text="|Phone: ${customer.phone}|"></li>
                    <li class="list-group-item" th:text="|Email: ${customer.email}|"></li>

                    <!--
                    TODO:
                    <li class="list-group-item" th:text="|Registration date: ${#temporals.format(customer.registrationDate, 'dd/MM/yy')}|"></li>-->

                    <!--TODO: Ver proyectos del cliente
                        <li class="list-group-item">
                              <a class="btn btn-link btn-sm"
                                 th:text="${customer.supermarket.name}"
                                 th:href="@{/supermarkets/{id}(id=${customer.supermarket.id})}"></a>
                          </li>-->

                </ul>

                <!--TODO Bucle for para mostrar los proyectos del cliente con un enlace hacia el detalle de cada project-->

                <div class="card-body">
                    <a class="btn btn-primary" th:href="@{/customers}">Return</a>
                    <a class="btn btn-success" th:href="@{/customers/{id}/edit(id=${customer.id})}">Edit</a>
                    <a class="btn btn-danger" th:href="@{/customers/{id}/delete(id=${customer.id})}">Delete</a>
                </div>

            </div>
        </div>

        <div class="col"></div>
    </div>
</div>

<!--<div th:replace="~{footer :: footer1}"></div>-->
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/js/main.js}"></script>
</body>
</html>