<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
</head>
<body>

<h1>Hello world</h1>

<div>
    <a class="btn btn-info" th:href="@{/companies}">Companies</a>
    <a class="btn btn-info" th:href="@{/employees}">Employees</a>
    <a class="btn btn-info" th:href="@{/tasks}">Tasks</a>
    <a class="btn btn-info" th:href="@{/customers}">Customers</a>
    <a class="btn btn-info" th:href="@{/projects}">Projects</a>
</div>

</body>
</html>